* {
  font-family: "Mulish", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px 117px;
  background-color: rgba(187, 107, 217, 0.1);
  /* background: linear-gradient(180deg, #fdab72 0%, #fe954d 100%); */
}
.nav-links {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-links a {
  text-decoration: none;
  color: inherit;
  margin: 0px 16px;
}
.nav-links a:hover {
  text-decoration: underline;
  color: blue;
}
.nav-brand {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #f53838;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button-border {
  border: 1px solid #f53855;
  background-color: transparent;
  padding: 13px 45px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
  color: #f53855;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.button-border:hover {
  cursor: pointer;
  background-color: #f53855;
  color: white;
}
.button-text {
  border: 0;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  transition: color 250ms ease-in-out;
}
.button-text:hover {
  cursor: pointer;
  color: #f53855;
}
.nav-login {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(187, 107, 217, 0.1);
  padding-bottom: 56px;
}
.title-heading {
  font-size: 44px;
  font-weight: 700;
  width: 700px;
  text-align: center;
}
.title-conten {
  font-size: 16px;
  font-weight: 400;
  width: 700px;
  text-align: center;
}
.btn-primary {
  background-color: #f53838;
  color: white;
  font-weight: 700;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  padding: 12px 48px;
  transition: background-color 250ms ease-in-out;
  margin-top: 36px;
}
.btn-primary:hover {
  cursor: pointer;
  background-color: #bd3a3a;
}
.blog-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}
.section-title-container {
  text-align: center;
  width: 700px;
}
.section-title-container h3 {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.1px;
}
.section-title-container p {
  font-weight: 400;
  font-size: 16px;
  color: #737b7d;
}
.section-title-container a {
  text-decoration: none;
  color: #3c64b1;
}
.section-title-container a:hover {
  text-decoration: underline;
}
.card {
  width: 400px;
  margin: auto;
  background-color: #f2f2f2;
  border-radius: 16px;
}
.card h5 {
  font-size: 20px;
  font-weight: 600;
  color: #081f32;
  margin: 0;
}
.card p {
  font-weight: 400;
  font-size: 13px;
  margin-top: 24px;
  color: #737b7d;
}
.card-body {
  padding: 24px;
}
.card-head {
  height: 168px;
  background-color: #d2ebf7;
  border-radius: 16px 16px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card-head img {
  height: 150px;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 56px;
}
.card-container .card {
  margin: 8px 16px;
}
.contak-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  border-top: 1px solid #dbdbdb;
  margin: 90px 90px;
}
.contak-item-container {
  display: flex;
  flex-direction: row;
  margin-top: 56px;
}
.contak-item {
  width: 300px;
}
.contak-item h6,
.contak-item p {
  margin-left: 30%;
}
.contak-item h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 18px;
  color: #373f41;
}
.contak-item p {
  margin-top: 8px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
  color: #373f41;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(187, 107, 217, 0.1);
  padding: 120px 0px;
}
.footer-item {
  display: flex;
  flex-direction: column;
}
.footer-item h6 {
  font-weight: 600;
  font-size: 18px;
  margin: 0px;
  margin-bottom: 10px;
}
.footer-item a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #4f5665;
  margin-top: 8px;
}
.footer-item a:hover {
  text-decoration: underline;
}
